.light-button {
  color: #5c3802!important;
  background-color: transparent!important;
  border-color: #5c3802!important;
} 

.dark-button {
  color: #5c3802!important;
  background-color: rgb(230, 204, 178)!important;
  border-color: #5c3802!important;
} 